# MAC files
.DS_Store

# History files
.Rhistory
.Rapp.history
.Rproj.user
.RData


# Data files I'm generating
sandbox/
old/
inst/doc
todo.txt
godiscent.Rproj
sanbox/
nohup.out
*.Rout
data/raw_data/rdhs.json
.claude/
# input  and result files too large for GH
#TODO release data
data/raw_data/
data/derived_data/
data/sim_data/
