# MAC files
.DS_Store

# History files
.Rhistory
.Rapp.history
.Rproj.user
.RData


# Data files I'm generating
sandbox/
old/
inst/doc
todo.txt
godiscent.Rproj
sanbox/
nohup.out
*.Rout
.future/

simdata/sim_results/

disc_results/
