# MAC files
.DS_Store

# History files
.Rhistory
.Rapp.history
.Rproj.user
.RData


# Data files I'm generating
sandbox/
old/
inst/doc
todo.txt
godiscent.Rproj
sanbox/
nohup.out
*.Rout
data/raw_data/rdhs.json
# input  and result files too large for GH
#TODO release data
data/
simdata/polysim_results/
simdata/disc_results/
